Captura de leads inmobiliarios.blueprint_ETAPA2.json
{
    "name": "Captura de leads inmobiliarios",
    "flow": [
        {
            "id": 22,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1835902,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -93,
                    "y": 15
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "new lead"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "nombre",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "telefono",
                        "type": "text"
                    },
                    {
                        "name": "interes",
                        "type": "text"
                    },
                    {
                        "name": "propiedades",
                        "type": "text"
                    },
                    {
                        "name": "barrios",
                        "type": "text"
                    },
                    {
                        "name": "presupuesto",
                        "type": "text"
                    },
                    {
                        "name": "prioridad",
                        "type": "text"
                    },
                    {
                        "name": "medio_contacto",
                        "type": "text"
                    },
                    {
                        "name": "horario_contacto",
                        "type": "text"
                    },
                    {
                        "name": "row_id",
                        "type": "number"
                    },
                    {
                        "name": "fecha_creacion",
                        "type": "text"
                    },
                    {
                        "name": "estado_interno",
                        "type": "number"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Existe registro nuevo",
                "conditions": []
            },
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "nombre",
                        "value": "{{22.nombre}}"
                    },
                    {
                        "name": "email",
                        "value": "{{22.email}}"
                    },
                    {
                        "name": "telefono",
                        "value": "{{22.telefono}}"
                    },
                    {
                        "name": "interes",
                        "value": "{{22.interes}}"
                    },
                    {
                        "name": "barrios",
                        "value": "{{22.barrios}}"
                    },
                    {
                        "name": "prioridad",
                        "value": "{{22.prioridad}}"
                    },
                    {
                        "name": "contacto_preferido",
                        "value": "{{22.medio_contacto}}"
                    },
                    {
                        "name": "horario_contacto",
                        "value": "{{22.horario_contacto}}"
                    },
                    {
                        "name": "id_fila",
                        "value": "{{22.row_id}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 265,
                    "y": -21
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "nombre",
                        "type": "any",
                        "label": "nombre"
                    },
                    {
                        "name": "email",
                        "type": "any",
                        "label": "email"
                    },
                    {
                        "name": "telefono",
                        "type": "any",
                        "label": "telefono"
                    },
                    {
                        "name": "interes",
                        "type": "any",
                        "label": "interes"
                    },
                    {
                        "name": "barrios",
                        "type": "any",
                        "label": "barrios"
                    },
                    {
                        "name": "prioridad",
                        "type": "any",
                        "label": "prioridad"
                    },
                    {
                        "name": "contacto_preferido",
                        "type": "any",
                        "label": "contacto_preferido"
                    },
                    {
                        "name": "horario_contacto",
                        "type": "any",
                        "label": "horario_contacto"
                    },
                    {
                        "name": "id_fila",
                        "type": "any",
                        "label": "id_fila"
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7305239
            },
            "mapper": {
                "model": "gemini-flash-lite-latest",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "Analiza este nuevo lead recibido desde el formulario web:\n\nDATOS DEL CLIENTE:\n- Nombre: {{22.nombre}}\n- Interés Principal: {{22.interes}}\n- Tipo de Propiedad: {{22.propiedades}}\n- Barrios de interés: {{22.barrios}}\n- Presupuesto (ARS):  {{22.presupuesto}}\n- Urgencia (Escala 1 \"Solo mirando\" a 5 \"Lo antes posible\"): {{22.prioridad}}\n- Preferencia de contacto: {{22.medio_contacto}} en horario {{22.horario_contacto}}\n\nRecuerda: Si es alguien queriendo VENDER o ALQUILAR SU PROPIEDAD (Propietario), clasifícalo automáticamente como HOT sin importar la urgencia, ya que necesitamos stock.",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "temperature": "0.1",
                    "thinkingConfig": {},
                    "maxOutputTokens": "100",
                    "responseMimeType": "application/json"
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "Eres el Gerente Comercial de una Inmobiliaria en Bahía Blanca.\nTu objetivo es clasificar leads entrantes para priorizar al equipo de ventas.\n\nREGLAS DE ORO PARA CLASIFICAR:\n\n1. HOT (Fuego / Prioridad Máxima):\n   - CUALQUIER persona que quiera VENDER o ALQUILAR SU PROPIEDAD (Opción: \"Vender Propiedad\" o \"Alquilar mi Propiedad\"). ¡Esto es captación y vale oro!\n   - Compradores con Urgencia 4 o 5.\n   - Inquilinos con Urgencia 5 (\"Lo antes posible\").\n\n2. WARM (Tibio / Seguimiento):\n   - Compradores con Urgencia 3.\n   - Inquilinos con Urgencia 3 o 4.\n   - Gente con presupuesto coherente pero fecha indefinida.\n\n3. COLD (Frío / Descarte):\n   - Urgencia 1 (\"Solo estoy mirando\").\n   - Consultas genéricas sin datos.\n   - Spam.\n\nFORMATO OBLIGATORIO:\nResponde SIEMPRE y ÚNICAMENTE con un JSON válido. No saludes, no expliques nada fuera del JSON.\nEstructura: {\"clasificacion\": \"HOT\", \"razon_corta\": \"Dueño vende - Captación\", \"accion\": \"Llamar ya\"}"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 359,
                    "y": 424
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Lo último de Gemini Flash-Lite"
                        },
                        "tools": {
                            "collapsed": true
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "tool_config": {
                            "collapsed": true
                        },
                        "url_context": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "code_execution": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "collapsed": true
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "JSON Output"
                                },
                                "new_responseSchema": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "google_search_context": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "file_search_store_context": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "function_declarations_context": {
                            "mode": "chose",
                            "collapsed": true
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "lead_inmobiliarios"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            },
                            {
                                "name": "responseSchema",
                                "type": "any",
                                "label": "Response Schema (Deprecated)"
                            },
                            {
                                "name": "new_responseSchema",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Value Type",
                                        "options": [
                                            {
                                                "label": "String",
                                                "value": "string",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=string"
                                            },
                                            {
                                                "label": "Enum",
                                                "value": "enum",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=enum"
                                            },
                                            {
                                                "label": "Number",
                                                "value": "number",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=number"
                                            },
                                            {
                                                "label": "Integer",
                                                "value": "integer",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=integer"
                                            },
                                            {
                                                "label": "Boolean",
                                                "value": "boolean",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=boolean"
                                            },
                                            {
                                                "label": "Object",
                                                "value": "object",
                                                "nested": "rpc://gemini-ai/1/createResponseSchema?type=object"
                                            }
                                        ]
                                    }
                                ],
                                "type": "array",
                                "label": "Response Schema"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 43,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": 777,
                            "y": 723
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 27,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 614,
                    "y": 259
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 28,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7305239
                            },
                            "filter": {
                                "name": "Cliente Muy Interesado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{25.result.clasificacion}}",
                                            "b": "HOT",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "gemini-flash-latest",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "text": "Genera la alerta para este nuevo lead:\n\n- Nombre: {{22.nombre}}\n- Interés: {{22.interes}} ({{22.propiedades}})\n- Zona: {{22.barrios}}\n- Motivo Urgencia: {{25.result.razon_corta}}",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "generationConfig": {
                                    "imageConfig": {},
                                    "temperature": "0.7",
                                    "thinkingConfig": {},
                                    "maxOutputTokens": "1000",
                                    "responseModalities": [
                                        "text"
                                    ]
                                },
                                "system_instruction": {
                                    "parts": [
                                        {
                                            "text": "Eres un asistente experto en Real Estate.\nTu tarea es redactar una ALERTA DE TELEGRAM en TEXTO PLANO.\n\nREGLAS DE FORMATO (ESTRICTO):\n1. PROHIBIDO usar HTML (nada de <b>, <br>).\n2. PROHIBIDO usar Markdown (nada de **, #, _).\n3. Usa MAYÚSCULAS para los títulos de los campos.\n4. Usa emojis para darle vida visual.\n\nESTRUCTURA DE LA RESPUESTA:\n🚨 ALERTA: LEAD HOT DETECTADO 🚨\n\n👤 CLIENTE: [Nombre]\n🏠 BUSCA: [Interés] en [Zona]\n🔥 URGENCIA: [Motivo breve]\n\n------------------------------------\n👇 MENSAJE SUGERIDO (Copiar y Pegar):\n------------------------------------\n[Aquí redacta el mensaje de WhatsApp para el cliente.\nTono: Argentino, cercano, profesional.\nSin comillas, listo para enviar.]\n------------------------------------"
                                        }
                                    ]
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1024,
                                    "y": -30
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini Flash Latest"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "url_context": {
                                            "mode": "chose"
                                        },
                                        "code_execution": {
                                            "mode": "chose"
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "imageConfig": {
                                                    "nested": {
                                                        "imageSize": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "stopSequences": {
                                                    "mode": "chose"
                                                },
                                                "thinkingConfig": {
                                                    "nested": {
                                                        "thinking_level": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "include_thoughts": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "mediaResolution": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseMimeType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseModalities": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "system_instruction": {
                                            "nested": {
                                                "parts": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "google_maps_context": {
                                            "mode": "chose"
                                        },
                                        "google_search_context": {
                                            "mode": "chose"
                                        },
                                        "file_search_store_context": {
                                            "mode": "chose"
                                        },
                                        "function_declarations_context": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "lead_inmobiliarios"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": false
                                                                            },
                                                                            {
                                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": false
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": false
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Call",
                                                                "value": "functionCall",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionCall",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                "name": "args",
                                                                                "type": "json",
                                                                                "label": "Arguments"
                                                                            },
                                                                            {
                                                                                "help": "The unique ID of the function call.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Function Call ID"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Call"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Response",
                                                                "value": "functionResponse",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionResponse",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function response in JSON object format.",
                                                                                "name": "response",
                                                                                "type": "json",
                                                                                "label": "Response",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Response"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "thoughtSignature",
                                                        "type": "text",
                                                        "label": "Thought Signature"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system_instruction",
                                        "spec": [
                                            {
                                                "name": "parts",
                                                "spec": {
                                                    "name": "value",
                                                    "spec": [
                                                        {
                                                            "name": "text",
                                                            "type": "text",
                                                            "label": "Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Prompt"
                                                },
                                                "type": "array",
                                                "label": "Prompts"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "System Instructions"
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "responseModalities",
                                                "type": "select",
                                                "label": "Response Modalities",
                                                "multiple": true,
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "image"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            },
                                            {
                                                "name": "thinkingConfig",
                                                "spec": [
                                                    {
                                                        "name": "thinkingBudget",
                                                        "type": "number",
                                                        "label": "Thinking Budget"
                                                    },
                                                    {
                                                        "name": "include_thoughts",
                                                        "type": "boolean",
                                                        "label": "Include Thoughts"
                                                    },
                                                    {
                                                        "name": "thinking_level",
                                                        "type": "select",
                                                        "label": "Thinking Level",
                                                        "validate": {
                                                            "enum": [
                                                                "low",
                                                                "high"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thinking Config"
                                            },
                                            {
                                                "name": "mediaResolution",
                                                "type": "select",
                                                "label": "Media Resolution",
                                                "validate": {
                                                    "enum": [
                                                        "media_resolution_low",
                                                        "media_resolution_medium",
                                                        "media_resolution_high"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "imageConfig",
                                                "spec": [
                                                    {
                                                        "name": "imageSize",
                                                        "type": "select",
                                                        "label": "Image Size",
                                                        "validate": {
                                                            "enum": [
                                                                "1K",
                                                                "2K",
                                                                "4K"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image Configuration"
                                            },
                                            {
                                                "name": "responseMimeType",
                                                "type": "select",
                                                "label": "Response Format"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    },
                                    {
                                        "name": "function_declarations_context",
                                        "type": "boolean",
                                        "label": "Function Declarations Grounding"
                                    },
                                    {
                                        "name": "url_context",
                                        "type": "boolean",
                                        "label": "URL Context"
                                    },
                                    {
                                        "name": "google_search_context",
                                        "type": "boolean",
                                        "label": "Google Search Grounding"
                                    },
                                    {
                                        "name": "code_execution",
                                        "type": "boolean",
                                        "label": "Code Execution"
                                    },
                                    {
                                        "name": "google_maps_context",
                                        "type": "boolean",
                                        "label": "Google Maps Grounding"
                                    },
                                    {
                                        "name": "file_search_store_context",
                                        "type": "boolean",
                                        "label": "File Search Store Context"
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 41,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1518,
                                            "y": 95
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 34,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7327988
                            },
                            "mapper": {
                                "text": "{{28.candidates[].content.parts[].text}}",
                                "chatId": "7152508150",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1467,
                                    "y": -208
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "InmobiliariaBot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 44,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1850,
                                            "y": -62
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 40,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6878591
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "12": "CONTACTADO"
                                },
                                "sheetId": "Respuestas de formulario 1",
                                "rowNumber": "{{2.id_fila}}",
                                "spreadsheetId": "/1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1767,
                                    "y": -358
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Respuestas de formulario 1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Marca temporal (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Nombre Completo (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Correo Electrónico (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Teléfono de Contacto (incluir código de área) (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "¿Cuál es su interés principal? (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Columna 6 (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "¿Cómo prefiere que lo contactemos? (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Mejor Horario para Contactarlo (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Enviado (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Estado (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "EjercicoPrueba (depradaboris19@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Marca temporal (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Nombre Completo (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Correo Electrónico (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Teléfono de Contacto (incluir código de área) (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "¿Cuál es su interés principal? (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Columna 6 (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "¿Cómo prefiere que lo contactemos? (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Mejor Horario para Contactarlo (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Enviado (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Estado (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6601294
                            },
                            "filter": {
                                "name": "Cliente interesado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{25.result.clasificacion}}",
                                            "b": "WARM",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{22.email}}"
                                ],
                                "content": "Hola <b> {{22.nombre}} </b>,<br><br>\n\nGracias por contactar a <b> Inmobiliaria BB</b>.<br><br>\n\nHemos recibido correctamente tu interés por propiedades tipo <b> {{22.propiedades}}</b> en la zona de <b>{{22.barrios}} </b>.<br><br>\n\nActualmente nuestro equipo está revisando el stock disponible que se ajuste a tu presupuesto de <b> {{22.presupuesto}} </b>.<br><br>\n\nComo tu búsqueda es específica, un asesor seleccionará las mejores opciones y te escribirá por WhatsApp en las próximas 24 a 48 horas.<br><br>\n\nSaludos cordiales,<br>\nEl Equipo de Ventas.",
                                "subject": "🏠 Recibimos tu consulta sobre {{22.propiedades}}",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1296,
                                    "y": 325
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (depradaboris19@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 42,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "count": "3",
                                        "retry": true,
                                        "interval": "1"
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1611,
                                            "y": 604
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            },
                                            {
                                                "name": "count",
                                                "type": "uinteger",
                                                "label": "Number of attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 10000,
                                                    "min": 1
                                                }
                                            },
                                            {
                                                "name": "interval",
                                                "type": "uinteger",
                                                "label": "Interval between attempts",
                                                "required": true,
                                                "validate": {
                                                    "max": 44640,
                                                    "min": 1
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 39,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6878591
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "12": "EN SEGUIMIENTO"
                                },
                                "sheetId": "Respuestas de formulario 1",
                                "rowNumber": "{{2.id_fila}}",
                                "spreadsheetId": "/1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1922,
                                    "y": 250
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Respuestas de formulario 1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Marca temporal (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Nombre Completo (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Correo Electrónico (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Teléfono de Contacto (incluir código de área) (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "¿Cuál es su interés principal? (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Columna 6 (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "¿Cómo prefiere que lo contactemos? (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Mejor Horario para Contactarlo (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Enviado (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Estado (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "EjercicoPrueba (depradaboris19@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Marca temporal (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Nombre Completo (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Correo Electrónico (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Teléfono de Contacto (incluir código de área) (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "¿Cuál es su interés principal? (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Columna 6 (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "¿Cómo prefiere que lo contactemos? (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Mejor Horario para Contactarlo (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Enviado (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Estado (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 38,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6878591
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "12": "DESCARTADO"
                                },
                                "sheetId": "Respuestas de formulario 1",
                                "rowNumber": "{{2.id_fila}}",
                                "spreadsheetId": "/1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1393,
                                    "y": 773
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Respuestas de formulario 1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Marca temporal (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Nombre Completo (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Correo Electrónico (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Teléfono de Contacto (incluir código de área) (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "¿Cuál es su interés principal? (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Columna 6 (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "¿Cómo prefiere que lo contactemos? (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "Mejor Horario para Contactarlo (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "Enviado (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "Estado (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "EjercicoPrueba (depradaboris19@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Marca temporal (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Nombre Completo (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Correo Electrónico (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Teléfono de Contacto (incluir código de área) (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "¿Cuál es su interés principal? (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Columna 6 (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "¿Cómo prefiere que lo contactemos? (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "Mejor Horario para Contactarlo (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "Enviado (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "Estado (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}