Captura de leads inmobiliarios.blueprint.json
{
  "name": "Captura de leads inmobiliarios",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 6878591
      },
      "mapper": {
        "from": "drive",
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING",
        "limit": "5",
        "spreadsheetId": "1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
        "sheetId": "Respuestas de formulario 1",
        "includesHeaders": true,
        "tableFirstRow": "A1:CZ1",
        "filter": [
          [
            {
              "a": "L",
              "o": "notexist"
            }
          ]
        ],
        "sortOrder": "asc"
      },
      "metadata": {
        "designer": {
          "x": -1345,
          "y": -435
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "EjercicoPrueba (example@email.com)",
              "data": {
                "scoped": "true",
                "connection": "google"
              }
            }
          },
          "expect": {
            "from": {
              "label": "Select from My Drive"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            },
            "spreadsheetId": {
              "mode": "chose",
              "label": "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
            },
            "sheetId": {
              "mode": "chose",
              "label": "Respuestas de formulario 1"
            },
            "includesHeaders": {
              "mode": "chose",
              "label": "Yes"
            },
            "tableFirstRow": {
              "label": "A-CZ"
            },
            "orderBy": {
              "mode": "chose"
            },
            "sortOrder": {
              "mode": "chose",
              "label": "Ascending"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "from",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share"
              ]
            }
          },
          {
            "name": "valueRenderOption",
            "type": "select",
            "label": "Value render option",
            "validate": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ]
            }
          },
          {
            "name": "dateTimeRenderOption",
            "type": "select",
            "label": "Date and time render option",
            "validate": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          },
          {
            "name": "spreadsheetId",
            "type": "select",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "tableFirstRow",
            "type": "select",
            "label": "Column range",
            "required": true,
            "validate": {
              "enum": [
                "A1:Z1",
                "A1:BZ1",
                "A1:CZ1",
                "A1:DZ1",
                "A1:MZ1",
                "A1:ZZ1",
                "A1:AZZ1",
                "A1:BZZ1",
                "A1:CZZ1",
                "A1:DZZ1",
                "A1:MZZ1",
                "A1:ZZZ1"
              ]
            }
          },
          {
            "name": "filter",
            "type": "filter",
            "label": "Filter",
            "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
          },
          {
            "name": "orderBy",
            "type": "select",
            "label": "Order by"
          },
          {
            "name": "sortOrder",
            "type": "select",
            "label": "Sort order",
            "validate": {
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "__IMTLENGTH__",
            "label": "Total number of bundles",
            "type": "uinteger"
          },
          {
            "name": "__IMTINDEX__",
            "label": "Bundle order position",
            "type": "uinteger"
          },
          {
            "name": "__ROW_NUMBER__",
            "label": "Row number",
            "type": "number"
          },
          {
            "name": "__SPREADSHEET_ID__",
            "label": "Spreadsheet ID",
            "type": "text"
          },
          {
            "name": "__SHEET__",
            "label": "Sheet",
            "type": "text"
          },
          {
            "name": "0",
            "label": "Marca temporal (A)",
            "type": "text"
          },
          {
            "name": "1",
            "label": "Nombre Completo (B)",
            "type": "text"
          },
          {
            "name": "2",
            "label": "Correo Electrónico (C)",
            "type": "text"
          },
          {
            "name": "3",
            "label": "Teléfono de Contacto (incluir código de área) (D)",
            "type": "text"
          },
          {
            "name": "4",
            "label": "¿Cuál es su interés principal? (E)",
            "type": "text"
          },
          {
            "name": "5",
            "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)",
            "type": "text"
          },
          {
            "name": "6",
            "label": "Columna 6 (G)",
            "type": "text"
          },
          {
            "name": "7",
            "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)",
            "type": "text"
          },
          {
            "name": "8",
            "label": "¿Qué tan pronto planea concretar la operación? (I)",
            "type": "text"
          },
          {
            "name": "9",
            "label": "¿Cómo prefiere que lo contactemos? (J)",
            "type": "text"
          },
          {
            "name": "10",
            "label": "Mejor Horario para Contactarlo (K)",
            "type": "text"
          },
          {
            "name": "11",
            "label": "Enviado (L)",
            "type": "text"
          },
          {
            "name": "12",
            "label": "(M)",
            "type": "text"
          },
          {
            "name": "13",
            "label": "(N)",
            "type": "text"
          },
          {
            "name": "14",
            "label": "(O)",
            "type": "text"
          },
          {
            "name": "15",
            "label": "(P)",
            "type": "text"
          },
          {
            "name": "16",
            "label": "(Q)",
            "type": "text"
          },
          {
            "name": "17",
            "label": "(R)",
            "type": "text"
          },
          {
            "name": "18",
            "label": "(S)",
            "type": "text"
          },
          {
            "name": "19",
            "label": "(T)",
            "type": "text"
          },
          {
            "name": "20",
            "label": "(U)",
            "type": "text"
          },
          {
            "name": "21",
            "label": "(V)",
            "type": "text"
          },
          {
            "name": "22",
            "label": "(W)",
            "type": "text"
          },
          {
            "name": "23",
            "label": "(X)",
            "type": "text"
          },
          {
            "name": "24",
            "label": "(Y)",
            "type": "text"
          },
          {
            "name": "25",
            "label": "(Z)",
            "type": "text"
          },
          {
            "name": "26",
            "label": "(AA)",
            "type": "text"
          },
          {
            "name": "27",
            "label": "(AB)",
            "type": "text"
          },
          {
            "name": "28",
            "label": "(AC)",
            "type": "text"
          },
          {
            "name": "29",
            "label": "(AD)",
            "type": "text"
          },
          {
            "name": "30",
            "label": "(AE)",
            "type": "text"
          },
          {
            "name": "31",
            "label": "(AF)",
            "type": "text"
          },
          {
            "name": "32",
            "label": "(AG)",
            "type": "text"
          },
          {
            "name": "33",
            "label": "(AH)",
            "type": "text"
          },
          {
            "name": "34",
            "label": "(AI)",
            "type": "text"
          },
          {
            "name": "35",
            "label": "(AJ)",
            "type": "text"
          },
          {
            "name": "36",
            "label": "(AK)",
            "type": "text"
          },
          {
            "name": "37",
            "label": "(AL)",
            "type": "text"
          },
          {
            "name": "38",
            "label": "(AM)",
            "type": "text"
          },
          {
            "name": "39",
            "label": "(AN)",
            "type": "text"
          },
          {
            "name": "40",
            "label": "(AO)",
            "type": "text"
          },
          {
            "name": "41",
            "label": "(AP)",
            "type": "text"
          },
          {
            "name": "42",
            "label": "(AQ)",
            "type": "text"
          },
          {
            "name": "43",
            "label": "(AR)",
            "type": "text"
          },
          {
            "name": "44",
            "label": "(AS)",
            "type": "text"
          },
          {
            "name": "45",
            "label": "(AT)",
            "type": "text"
          },
          {
            "name": "46",
            "label": "(AU)",
            "type": "text"
          },
          {
            "name": "47",
            "label": "(AV)",
            "type": "text"
          },
          {
            "name": "48",
            "label": "(AW)",
            "type": "text"
          },
          {
            "name": "49",
            "label": "(AX)",
            "type": "text"
          },
          {
            "name": "50",
            "label": "(AY)",
            "type": "text"
          },
          {
            "name": "51",
            "label": "(AZ)",
            "type": "text"
          },
          {
            "name": "52",
            "label": "(BA)",
            "type": "text"
          },
          {
            "name": "53",
            "label": "(BB)",
            "type": "text"
          },
          {
            "name": "54",
            "label": "(BC)",
            "type": "text"
          },
          {
            "name": "55",
            "label": "(BD)",
            "type": "text"
          },
          {
            "name": "56",
            "label": "(BE)",
            "type": "text"
          },
          {
            "name": "57",
            "label": "(BF)",
            "type": "text"
          },
          {
            "name": "58",
            "label": "(BG)",
            "type": "text"
          },
          {
            "name": "59",
            "label": "(BH)",
            "type": "text"
          },
          {
            "name": "60",
            "label": "(BI)",
            "type": "text"
          },
          {
            "name": "61",
            "label": "(BJ)",
            "type": "text"
          },
          {
            "name": "62",
            "label": "(BK)",
            "type": "text"
          },
          {
            "name": "63",
            "label": "(BL)",
            "type": "text"
          },
          {
            "name": "64",
            "label": "(BM)",
            "type": "text"
          },
          {
            "name": "65",
            "label": "(BN)",
            "type": "text"
          },
          {
            "name": "66",
            "label": "(BO)",
            "type": "text"
          },
          {
            "name": "67",
            "label": "(BP)",
            "type": "text"
          },
          {
            "name": "68",
            "label": "(BQ)",
            "type": "text"
          },
          {
            "name": "69",
            "label": "(BR)",
            "type": "text"
          },
          {
            "name": "70",
            "label": "(BS)",
            "type": "text"
          },
          {
            "name": "71",
            "label": "(BT)",
            "type": "text"
          },
          {
            "name": "72",
            "label": "(BU)",
            "type": "text"
          },
          {
            "name": "73",
            "label": "(BV)",
            "type": "text"
          },
          {
            "name": "74",
            "label": "(BW)",
            "type": "text"
          },
          {
            "name": "75",
            "label": "(BX)",
            "type": "text"
          },
          {
            "name": "76",
            "label": "(BY)",
            "type": "text"
          },
          {
            "name": "77",
            "label": "(BZ)",
            "type": "text"
          },
          {
            "name": "78",
            "label": "(CA)",
            "type": "text"
          },
          {
            "name": "79",
            "label": "(CB)",
            "type": "text"
          },
          {
            "name": "80",
            "label": "(CC)",
            "type": "text"
          },
          {
            "name": "81",
            "label": "(CD)",
            "type": "text"
          },
          {
            "name": "82",
            "label": "(CE)",
            "type": "text"
          },
          {
            "name": "83",
            "label": "(CF)",
            "type": "text"
          },
          {
            "name": "84",
            "label": "(CG)",
            "type": "text"
          },
          {
            "name": "85",
            "label": "(CH)",
            "type": "text"
          },
          {
            "name": "86",
            "label": "(CI)",
            "type": "text"
          },
          {
            "name": "87",
            "label": "(CJ)",
            "type": "text"
          },
          {
            "name": "88",
            "label": "(CK)",
            "type": "text"
          },
          {
            "name": "89",
            "label": "(CL)",
            "type": "text"
          },
          {
            "name": "90",
            "label": "(CM)",
            "type": "text"
          },
          {
            "name": "91",
            "label": "(CN)",
            "type": "text"
          },
          {
            "name": "92",
            "label": "(CO)",
            "type": "text"
          },
          {
            "name": "93",
            "label": "(CP)",
            "type": "text"
          },
          {
            "name": "94",
            "label": "(CQ)",
            "type": "text"
          },
          {
            "name": "95",
            "label": "(CR)",
            "type": "text"
          },
          {
            "name": "96",
            "label": "(CS)",
            "type": "text"
          },
          {
            "name": "97",
            "label": "(CT)",
            "type": "text"
          },
          {
            "name": "98",
            "label": "(CU)",
            "type": "text"
          },
          {
            "name": "99",
            "label": "(CV)",
            "type": "text"
          },
          {
            "name": "100",
            "label": "(CW)",
            "type": "text"
          },
          {
            "name": "101",
            "label": "(CX)",
            "type": "text"
          },
          {
            "name": "102",
            "label": "(CY)",
            "type": "text"
          },
          {
            "name": "103",
            "label": "(CZ)",
            "type": "text"
          }
        ]
      }
    },
    {
      "id": 19,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": -778,
          "y": -512
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 14,
              "module": "util:FunctionSleep",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Existe registro nuevo",
                "conditions": [
                  [
                    {
                      "a": "{{1.`__ROW_NUMBER__`}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "duration": "15"
              },
              "metadata": {
                "designer": {
                  "x": -280,
                  "y": -495
                },
                "restore": {},
                "expect": [
                  {
                    "name": "duration",
                    "type": "uinteger",
                    "label": "Delay",
                    "validate": {
                      "min": 1,
                      "max": 300
                    },
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 6,
              "module": "http:MakeRequest",
              "version": 4,
              "parameters": {
                "authenticationType": "apiKey",
                "tlsType": "",
                "proxyKeychain": "",
                "apiKeyKeychain": 98100
              },
              "mapper": {
                "url": "https://timezone.abstractapi.com/v1/current_time/?api_key=YOUR_API_KEY&location=Buenos Aires, Argentina",
                "method": "get",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true
              },
              "metadata": {
                "designer": {
                  "x": 197,
                  "y": -517
                },
                "restore": {
                  "parameters": {
                    "authenticationType": {
                      "label": "API keyUse when the service requires an API key."
                    },
                    "tlsType": {
                      "label": "Empty"
                    },
                    "proxyKeychain": {
                      "label": "Choose a key"
                    },
                    "apiKeyKeychain": {
                      "label": "My API Key Auth key"
                    }
                  },
                  "expect": {
                    "method": {
                      "mode": "chose",
                      "label": "GET"
                    },
                    "headers": {
                      "mode": "chose"
                    },
                    "queryParameters": {
                      "mode": "chose"
                    },
                    "contentType": {
                      "label": "Empty"
                    },
                    "parseResponse": {
                      "mode": "chose"
                    },
                    "stopOnHttpError": {
                      "mode": "chose"
                    },
                    "allowRedirects": {
                      "mode": "chose"
                    },
                    "shareCookies": {
                      "mode": "chose"
                    },
                    "requestCompressedContent": {
                      "mode": "chose"
                    },
                    "paginationType": {
                      "label": "Empty"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "authenticationType",
                    "type": "select",
                    "label": "Authentication type",
                    "required": true,
                    "validate": {
                      "enum": [
                        "noAuth",
                        "apiKey",
                        "basicAuth",
                        "oAuth"
                      ]
                    }
                  },
                  {
                    "name": "tlsType",
                    "type": "select",
                    "label": "Transport layer security (TLS)",
                    "validate": {
                      "enum": [
                        "mTls",
                        "tls"
                      ]
                    }
                  },
                  {
                    "name": "proxyKeychain",
                    "type": "keychain:proxy",
                    "label": "Proxy"
                  },
                  {
                    "name": "apiKeyKeychain",
                    "type": "keychain:apikeyauth",
                    "label": "Credentials",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "url",
                    "type": "url",
                    "label": "URL",
                    "required": true
                  },
                  {
                    "name": "method",
                    "type": "select",
                    "label": "Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "get",
                        "head",
                        "post",
                        "put",
                        "patch",
                        "delete",
                        "options"
                      ]
                    }
                  },
                  {
                    "name": "headers",
                    "type": "array",
                    "label": "Headers",
                    "spec": {
                      "name": "value",
                      "label": "Header",
                      "type": "collection",
                      "spec": [
                        {
                          "name": "name",
                          "label": "Name",
                          "type": "text",
                          "required": true,
                          "validate": {
                            "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                          }
                        },
                        {
                          "name": "value",
                          "label": "Value",
                          "type": "text"
                        }
                      ]
                    }
                  },
                  {
                    "name": "queryParameters",
                    "type": "array",
                    "label": "Query parameters",
                    "spec": {
                      "name": "value",
                      "label": "Parameter",
                      "type": "collection",
                      "spec": [
                        {
                          "name": "name",
                          "label": "Name",
                          "type": "text",
                          "required": true
                        },
                        {
                          "name": "value",
                          "label": "Value",
                          "type": "text"
                        }
                      ]
                    }
                  },
                  {
                    "name": "contentType",
                    "type": "select",
                    "label": "Body content type",
                    "validate": {
                      "enum": [
                        "json",
                        "multipart",
                        "urlEncoded",
                        "custom"
                      ]
                    }
                  },
                  {
                    "name": "parseResponse",
                    "type": "boolean",
                    "label": "Parse response",
                    "required": true
                  },
                  {
                    "name": "stopOnHttpError",
                    "type": "boolean",
                    "label": "Return error if HTTP request fails",
                    "required": true
                  },
                  {
                    "name": "timeout",
                    "type": "uinteger",
                    "label": "Timeout",
                    "validate": {
                      "min": 1,
                      "max": 300
                    }
                  },
                  {
                    "name": "allowRedirects",
                    "type": "boolean",
                    "label": "Allow redirects",
                    "required": true
                  },
                  {
                    "name": "shareCookies",
                    "type": "boolean",
                    "label": "Share cookies with other HTTP modules",
                    "required": true
                  },
                  {
                    "name": "requestCompressedContent",
                    "type": "boolean",
                    "label": "Request compressed content",
                    "required": true
                  },
                  {
                    "name": "paginationType",
                    "type": "select",
                    "label": "Pagination type",
                    "validate": {
                      "enum": [
                        "offsetBased",
                        "pageBased",
                        "urlBased",
                        "tokenBased"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "data",
                    "label": "Data",
                    "type": "any"
                  },
                  {
                    "name": "statusCode",
                    "label": "Status Code",
                    "type": "number"
                  },
                  {
                    "name": "headers",
                    "label": "Headers",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content-length",
                        "label": "Content-Length",
                        "type": "text"
                      },
                      {
                        "name": "content-encoding",
                        "label": "Content-Encoding",
                        "type": "text"
                      },
                      {
                        "name": "content-type",
                        "label": "Content-Type",
                        "type": "text"
                      },
                      {
                        "name": "server",
                        "label": "Server",
                        "type": "text"
                      },
                      {
                        "name": "cache-control",
                        "label": "Cache-Control",
                        "type": "text"
                      },
                      {
                        "name": "set-cookie",
                        "label": "Set-Cookie",
                        "type": "array",
                        "spec": {
                          "type": "text"
                        }
                      }
                    ]
                  }
                ],
                "advanced": true
              }
            },
            {
              "id": 2,
              "module": "util:SetVariables",
              "version": 1,
              "parameters": {},
              "mapper": {
                "variables": [
                  {
                    "name": "nombre",
                    "value": "{{1.`1`}}"
                  },
                  {
                    "name": "email",
                    "value": "{{1.`2`}}"
                  },
                  {
                    "name": "telefono",
                    "value": "{{1.`3`}}"
                  },
                  {
                    "name": "interes",
                    "value": "{{1.`4`}}"
                  },
                  {
                    "name": "barrios",
                    "value": "{{1.`6`}}"
                  },
                  {
                    "name": "prioridad",
                    "value": "{{1.`8`}}"
                  },
                  {
                    "name": "contacto_preferido",
                    "value": "{{1.`9`}}"
                  },
                  {
                    "name": "horario_contacto",
                    "value": "{{1.`10`}}"
                  },
                  {
                    "name": "enviado",
                    "value": "{{1.`11`}}"
                  },
                  {
                    "name": "fecha_hora",
                    "value": "{{6.data.datetime}}"
                  }
                ],
                "scope": "roundtrip"
              },
              "metadata": {
                "designer": {
                  "x": 708,
                  "y": -496
                },
                "restore": {
                  "expect": {
                    "variables": {
                      "items": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null
                      ]
                    },
                    "scope": {
                      "label": "One cycle"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "variables",
                    "type": "array",
                    "label": "Variables",
                    "spec": [
                      {
                        "name": "name",
                        "label": "Variable name",
                        "type": "text",
                        "required": true
                      },
                      {
                        "name": "value",
                        "label": "Variable value",
                        "type": "any"
                      }
                    ]
                  },
                  {
                    "name": "scope",
                    "type": "select",
                    "label": "Variable lifetime",
                    "required": true,
                    "validate": {
                      "enum": [
                        "roundtrip",
                        "execution"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "nombre",
                    "label": "nombre",
                    "type": "any"
                  },
                  {
                    "name": "email",
                    "label": "email",
                    "type": "any"
                  },
                  {
                    "name": "telefono",
                    "label": "telefono",
                    "type": "any"
                  },
                  {
                    "name": "interes",
                    "label": "interes",
                    "type": "any"
                  },
                  {
                    "name": "barrios",
                    "label": "barrios",
                    "type": "any"
                  },
                  {
                    "name": "prioridad",
                    "label": "prioridad",
                    "type": "any"
                  },
                  {
                    "name": "contacto_preferido",
                    "label": "contacto_preferido",
                    "type": "any"
                  },
                  {
                    "name": "horario_contacto",
                    "label": "horario_contacto",
                    "type": "any"
                  },
                  {
                    "name": "enviado",
                    "label": "enviado",
                    "type": "any"
                  },
                  {
                    "name": "fecha_hora",
                    "label": "fecha_hora",
                    "type": "any"
                  }
                ]
              }
            },
            {
              "id": 10,
              "module": "builtin:BasicRouter",
              "version": 1,
              "mapper": null,
              "metadata": {
                "designer": {
                  "x": 1217,
                  "y": -463
                }
              },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 18,
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "parameters": {
                        "__IMTCONN__": 6878591
                      },
                      "filter": {
                        "name": "Lead muy Interesado",
                        "conditions": [
                          [
                            {
                              "a": "{{2.prioridad}}",
                              "o": "number:greater",
                              "b": "3"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "mode": "select",
                        "valueInputOption": "USER_ENTERED",
                        "from": "drive",
                        "spreadsheetId": "/1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                        "sheetId": "Respuestas de formulario 1",
                        "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                        "includesHeaders": true,
                        "values": {
                          "11": "ENVIADO"
                        }
                      },
                      "metadata": {
                        "designer": {
                          "x": 1672,
                          "y": -981
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "EjercicoPrueba (example@email.com)",
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              }
                            }
                          },
                          "expect": {
                            "mode": {
                              "label": "Search by path"
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            },
                            "from": {
                              "label": "My Drive"
                            },
                            "spreadsheetId": {
                              "path": [
                                "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                              ]
                            },
                            "sheetId": {
                              "label": "Respuestas de formulario 1"
                            },
                            "includesHeaders": {
                              "nested": [
                                {
                                  "name": "values",
                                  "label": "Values",
                                  "type": "collection",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "label": "Marca temporal (A)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "1",
                                      "label": "Nombre Completo (B)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "2",
                                      "label": "Correo Electrónico (C)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "3",
                                      "label": "Teléfono de Contacto (incluir código de área) (D)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "4",
                                      "label": "¿Cuál es su interés principal? (E)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "5",
                                      "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "6",
                                      "label": "Columna 6 (G)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "7",
                                      "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "8",
                                      "label": "¿Qué tan pronto planea concretar la operación? (I)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "9",
                                      "label": "¿Cómo prefiere que lo contactemos? (J)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "10",
                                      "label": "Mejor Horario para Contactarlo (K)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "11",
                                      "label": "Enviado (L)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "12",
                                      "label": "(M)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "13",
                                      "label": "(N)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "14",
                                      "label": "(O)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "15",
                                      "label": "(P)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "16",
                                      "label": "(Q)",
                                      "type": "text"
                                    }
                                  ]
                                }
                              ],
                              "label": "Yes"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "rowNumber",
                            "type": "uinteger",
                            "label": "Row number",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "type": "collection",
                            "label": "Values",
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "Marca temporal (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "Nombre Completo (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "Correo Electrónico (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "Teléfono de Contacto (incluir código de área) (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "¿Cuál es su interés principal? (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "Columna 6 (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "¿Qué tan pronto planea concretar la operación? (I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "¿Cómo prefiere que lo contactemos? (J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "Mejor Horario para Contactarlo (K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "Enviado (L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              }
                            ]
                          }
                        ],
                        "advanced": true
                      }
                    },
                    {
                      "id": 3,
                      "module": "google-email:sendAnEmail",
                      "version": 4,
                      "parameters": {
                        "__IMTCONN__": 6601294
                      },
                      "mapper": {
                        "to": [
                          "{{2.email}}"
                        ],
                        "subject": "Consulta Inmobiliaria",
                        "bodyType": "collection",
                        "contents": [
                          {
                            "text": "Hola {{2.nombre}},\r\n\r\nGracias por contactarte con nosotros 😊\r\nTe confirmamos que hemos registrado correctamente tu consulta. En breve, un asesor se comunicará con vos según la información que nos brindaste.\r\n\r\n📋 **Resumen de tu solicitud:**\r\n\r\n* **Nombre:** {{2.nombre}}\r\n* **Correo electrónico:** {{2.email}}\r\n* **Teléfono:** {{2.telefono}}\r\n* **Interés:** {{2.interes}}\r\n* **Barrios de interés:**{{2.barrios}}\r\n* **Prioridad:** {{2.prioridad}}\r\n* **Medio de contacto preferido:** {{2.contacto_preferido}}\r\n\nHora de contacto: {{2.fecha_hora}}\n\r\nSi necesitás agregar o modificar algún dato, podés responder este correo y lo actualizamos sin problema.\r\n\r\nMuchas gracias por confiar en nosotros.\r\nSaludos cordiales,\r\n\r\n**Equipo de la Inmobiliaria**\r\n",
                            "image": {}
                          }
                        ]
                      },
                      "metadata": {
                        "designer": {
                          "x": 2453,
                          "y": -908
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "My Gmail connection (example@email.com)",
                              "data": {
                                "scoped": "true",
                                "connection": "google-email"
                              }
                            }
                          },
                          "expect": {
                            "to": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "bodyType": {
                              "collapsed": true,
                              "label": "Collection of contents (text, images, etc.)"
                            },
                            "attachments": {
                              "mode": "chose"
                            },
                            "from": {
                              "mode": "chose"
                            },
                            "cc": {
                              "mode": "chose"
                            },
                            "bcc": {
                              "mode": "chose"
                            },
                            "emailHeaders": {
                              "mode": "chose"
                            },
                            "contents": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "signature": {
                              "mode": "chose"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google-email",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "to",
                            "type": "array",
                            "label": "To",
                            "required": true,
                            "spec": {
                              "type": "email",
                              "label": "Recipient email address",
                              "required": true,
                              "validate": true,
                              "name": "value"
                            }
                          },
                          {
                            "name": "subject",
                            "type": "text",
                            "label": "Subject"
                          },
                          {
                            "name": "bodyType",
                            "type": "select",
                            "label": "Body type",
                            "required": true,
                            "validate": {
                              "enum": [
                                "rawHtml",
                                "collection"
                              ]
                            }
                          },
                          {
                            "name": "attachments",
                            "type": "array",
                            "label": "Attachments",
                            "spec": {
                              "spec": [
                                {
                                  "name": "filename",
                                  "type": "filename",
                                  "label": "File name",
                                  "required": true,
                                  "semantic": "file:name"
                                },
                                {
                                  "name": "data",
                                  "type": "buffer",
                                  "label": "Data",
                                  "required": true,
                                  "semantic": "file:data"
                                }
                              ],
                              "type": "collection",
                              "label": "Attachment",
                              "name": "value"
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "From"
                          },
                          {
                            "name": "cc",
                            "type": "array",
                            "label": "CC recipients",
                            "spec": {
                              "type": "email",
                              "label": "Recipient email address",
                              "required": true,
                              "name": "value"
                            }
                          },
                          {
                            "name": "bcc",
                            "type": "array",
                            "label": "BCC recipients",
                            "spec": {
                              "type": "email",
                              "label": "Recipient email address",
                              "required": true,
                              "name": "value"
                            }
                          },
                          {
                            "name": "emailHeaders",
                            "type": "array",
                            "label": "Additional email headers",
                            "spec": {
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Key",
                                  "required": true
                                },
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Value"
                                }
                              ],
                              "type": "collection",
                              "label": "Email header",
                              "name": "value"
                            }
                          },
                          {
                            "name": "contents",
                            "type": "array",
                            "label": "Body contents",
                            "spec": {
                              "spec": [
                                {
                                  "name": "text",
                                  "type": "text",
                                  "label": "Text"
                                },
                                {
                                  "name": "image",
                                  "spec": [
                                    {
                                      "name": "filename",
                                      "type": "filename",
                                      "label": "File name",
                                      "semantic": "file:name"
                                    },
                                    {
                                      "name": "data",
                                      "type": "buffer",
                                      "label": "Data",
                                      "semantic": "file:data"
                                    },
                                    {
                                      "name": "width",
                                      "type": "uinteger",
                                      "label": "Width"
                                    },
                                    {
                                      "name": "height",
                                      "type": "uinteger",
                                      "label": "Height"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Image"
                                }
                              ],
                              "type": "collection",
                              "label": "Content",
                              "name": "value"
                            }
                          },
                          {
                            "name": "signature",
                            "type": "select",
                            "label": "Signature content"
                          }
                        ]
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 20,
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "parameters": {
                        "__IMTCONN__": 6878591
                      },
                      "filter": {
                        "name": "Lead menos interesado",
                        "conditions": [
                          [
                            {
                              "a": "{{2.prioridad}}",
                              "o": "number:lessorequal",
                              "b": "3"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "mode": "select",
                        "valueInputOption": "USER_ENTERED",
                        "from": "drive",
                        "spreadsheetId": "/1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                        "sheetId": "Respuestas de formulario 1",
                        "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                        "includesHeaders": true,
                        "values": {
                          "11": "ENVIADO"
                        }
                      },
                      "metadata": {
                        "designer": {
                          "x": 1641,
                          "y": -13
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "EjercicoPrueba (example@email.com)",
                              "data": {
                                "scoped": "true",
                                "connection": "google"
                              }
                            }
                          },
                          "expect": {
                            "mode": {
                              "label": "Search by path"
                            },
                            "valueInputOption": {
                              "mode": "edit"
                            },
                            "from": {
                              "label": "My Drive"
                            },
                            "spreadsheetId": {
                              "path": [
                                "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                              ]
                            },
                            "sheetId": {
                              "label": "Respuestas de formulario 1"
                            },
                            "includesHeaders": {
                              "nested": [
                                {
                                  "name": "values",
                                  "label": "Values",
                                  "type": "collection",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "label": "Marca temporal (A)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "1",
                                      "label": "Nombre Completo (B)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "2",
                                      "label": "Correo Electrónico (C)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "3",
                                      "label": "Teléfono de Contacto (incluir código de área) (D)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "4",
                                      "label": "¿Cuál es su interés principal? (E)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "5",
                                      "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "6",
                                      "label": "Columna 6 (G)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "7",
                                      "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "8",
                                      "label": "¿Qué tan pronto planea concretar la operación? (I)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "9",
                                      "label": "¿Cómo prefiere que lo contactemos? (J)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "10",
                                      "label": "Mejor Horario para Contactarlo (K)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "11",
                                      "label": "Enviado (L)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "12",
                                      "label": "(M)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "13",
                                      "label": "(N)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "14",
                                      "label": "(O)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "15",
                                      "label": "(P)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "16",
                                      "label": "(Q)",
                                      "type": "text"
                                    }
                                  ]
                                }
                              ],
                              "label": "Yes"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet ID",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "rowNumber",
                            "type": "uinteger",
                            "label": "Row number",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "type": "collection",
                            "label": "Values",
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "Marca temporal (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "Nombre Completo (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "Correo Electrónico (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "Teléfono de Contacto (incluir código de área) (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "¿Cuál es su interés principal? (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "Columna 6 (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "¿Qué tan pronto planea concretar la operación? (I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "¿Cómo prefiere que lo contactemos? (J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "Mejor Horario para Contactarlo (K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "Enviado (L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              }
                            ]
                          }
                        ],
                        "advanced": true
                      }
                    },
                    {
                      "id": 21,
                      "module": "google-email:sendAnEmail",
                      "version": 4,
                      "parameters": {
                        "__IMTCONN__": 6601294
                      },
                      "mapper": {
                        "to": [
                          "{{2.email}}"
                        ],
                        "subject": "Equipo Inmobiliaria",
                        "bodyType": "collection",
                        "contents": [
                          {
                            "text": "Hola , {{2.nombre}}\n\nGracias por contactarte con nosotros 😊\nTe confirmamos que registramos correctamente tu consulta.\n\nCuando lo consideres oportuno, un asesor podrá comunicarse con vos según los datos que nos compartiste para brindarte más información.\n\n📋 Datos registrados:\n\nNombre: {{2.nombre}}\n\nCorreo electrónico: {{2.email}}\nHora de consulta: {{2.fecha_hora}}\nTeléfono: {{2.telefono}}\n\nInterés: {{2.interes}}\n\nBarrios de interés: {{2.barrios}}\n\nMedio de contacto preferido: {{2.contacto_preferido}}\n\nSi más adelante querés avanzar, cambiar algún dato o hacer una consulta adicional, podés responder este correo sin problema.\n\nGracias por tu interés.\nSaludos cordiales,\n\nEquipo de la Inmobiliaria",
                            "image": {}
                          }
                        ]
                      },
                      "metadata": {
                        "designer": {
                          "x": 2347,
                          "y": 69
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "My Gmail connection (example@email.com)",
                              "data": {
                                "scoped": "true",
                                "connection": "google-email"
                              }
                            }
                          },
                          "expect": {
                            "to": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "bodyType": {
                              "label": "Collection of contents (text, images, etc.)"
                            },
                            "attachments": {
                              "mode": "chose"
                            },
                            "from": {
                              "mode": "chose"
                            },
                            "cc": {
                              "mode": "chose"
                            },
                            "bcc": {
                              "mode": "chose"
                            },
                            "emailHeaders": {
                              "mode": "chose"
                            },
                            "contents": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "signature": {
                              "mode": "chose"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google-email",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "to",
                            "type": "array",
                            "label": "To",
                            "required": true,
                            "spec": {
                              "type": "email",
                              "label": "Recipient email address",
                              "required": true,
                              "validate": true,
                              "name": "value"
                            }
                          },
                          {
                            "name": "subject",
                            "type": "text",
                            "label": "Subject"
                          },
                          {
                            "name": "bodyType",
                            "type": "select",
                            "label": "Body type",
                            "required": true,
                            "validate": {
                              "enum": [
                                "rawHtml",
                                "collection"
                              ]
                            }
                          },
                          {
                            "name": "attachments",
                            "type": "array",
                            "label": "Attachments",
                            "spec": {
                              "spec": [
                                {
                                  "name": "filename",
                                  "type": "filename",
                                  "label": "File name",
                                  "required": true,
                                  "semantic": "file:name"
                                },
                                {
                                  "name": "data",
                                  "type": "buffer",
                                  "label": "Data",
                                  "required": true,
                                  "semantic": "file:data"
                                }
                              ],
                              "type": "collection",
                              "label": "Attachment",
                              "name": "value"
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "From"
                          },
                          {
                            "name": "cc",
                            "type": "array",
                            "label": "CC recipients",
                            "spec": {
                              "type": "email",
                              "label": "Recipient email address",
                              "required": true,
                              "name": "value"
                            }
                          },
                          {
                            "name": "bcc",
                            "type": "array",
                            "label": "BCC recipients",
                            "spec": {
                              "type": "email",
                              "label": "Recipient email address",
                              "required": true,
                              "name": "value"
                            }
                          },
                          {
                            "name": "emailHeaders",
                            "type": "array",
                            "label": "Additional email headers",
                            "spec": {
                              "spec": [
                                {
                                  "name": "key",
                                  "type": "text",
                                  "label": "Key",
                                  "required": true
                                },
                                {
                                  "name": "value",
                                  "type": "text",
                                  "label": "Value"
                                }
                              ],
                              "type": "collection",
                              "label": "Email header",
                              "name": "value"
                            }
                          },
                          {
                            "name": "contents",
                            "type": "array",
                            "label": "Body contents",
                            "spec": {
                              "spec": [
                                {
                                  "name": "text",
                                  "type": "text",
                                  "label": "Text"
                                },
                                {
                                  "name": "image",
                                  "spec": [
                                    {
                                      "name": "filename",
                                      "type": "filename",
                                      "label": "File name",
                                      "semantic": "file:name"
                                    },
                                    {
                                      "name": "data",
                                      "type": "buffer",
                                      "label": "Data",
                                      "semantic": "file:data"
                                    },
                                    {
                                      "name": "width",
                                      "type": "uinteger",
                                      "label": "Width"
                                    },
                                    {
                                      "name": "height",
                                      "type": "uinteger",
                                      "label": "Height"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Image"
                                }
                              ],
                              "type": "collection",
                              "label": "Content",
                              "name": "value"
                            }
                          },
                          {
                            "name": "signature",
                            "type": "select",
                            "label": "Signature content"
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}