Captura de leads inmobiliarios.blueprint.json
{
    "name": "Captura de leads inmobiliarios",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6878591
            },
            "mapper": {
                "from": "drive",
                "limit": "5",
                "filter": [
                    [
                        {
                            "a": "L",
                            "o": "notexist"
                        }
                    ]
                ],
                "sheetId": "Respuestas de formulario 1",
                "sortOrder": "asc",
                "spreadsheetId": "1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -1345,
                    "y": -435
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Respuestas de formulario 1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "EjercicoPrueba (depradaboris19@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Marca temporal (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Nombre Completo (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Correo Electrónico (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Teléfono de Contacto (incluir código de área) (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "¿Cuál es su interés principal? (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Columna 6 (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "¿Qué tan pronto planea concretar la operación? (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "¿Cómo prefiere que lo contactemos? (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Mejor Horario para Contactarlo (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Enviado (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -778,
                    "y": -512
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Existe registro nuevo",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`__ROW_NUMBER__`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "duration": "15"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -280,
                                    "y": -495
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "proxyKeychain": "",
                                "apiKeyKeychain": 98100,
                                "authenticationType": "apiKey"
                            },
                            "mapper": {
                                "url": "https://timezone.abstractapi.com/v1/current_time/?api_key=5b118e6314ca4fa2aa41f0ae96e9d91c&location=Buenos Aires, Argentina",
                                "method": "get",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 197,
                                    "y": -517
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "Empty"
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "proxyKeychain": {
                                            "label": "Choose a key"
                                        },
                                        "apiKeyKeychain": {
                                            "label": "My API Key Auth key"
                                        },
                                        "authenticationType": {
                                            "label": "API keyUse when the service requires an API key."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    },
                                    {
                                        "name": "apiKeyKeychain",
                                        "type": "keychain:apikeyauth",
                                        "label": "Credentials",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 2,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "nombre",
                                        "value": "{{1.`1`}}"
                                    },
                                    {
                                        "name": "email",
                                        "value": "{{1.`2`}}"
                                    },
                                    {
                                        "name": "telefono",
                                        "value": "{{1.`3`}}"
                                    },
                                    {
                                        "name": "interes",
                                        "value": "{{1.`4`}}"
                                    },
                                    {
                                        "name": "barrios",
                                        "value": "{{1.`6`}}"
                                    },
                                    {
                                        "name": "prioridad",
                                        "value": "{{1.`8`}}"
                                    },
                                    {
                                        "name": "contacto_preferido",
                                        "value": "{{1.`9`}}"
                                    },
                                    {
                                        "name": "horario_contacto",
                                        "value": "{{1.`10`}}"
                                    },
                                    {
                                        "name": "enviado",
                                        "value": "{{1.`11`}}"
                                    },
                                    {
                                        "name": "fecha_hora",
                                        "value": "{{6.data.datetime}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 708,
                                    "y": -496
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "nombre",
                                        "type": "any",
                                        "label": "nombre"
                                    },
                                    {
                                        "name": "email",
                                        "type": "any",
                                        "label": "email"
                                    },
                                    {
                                        "name": "telefono",
                                        "type": "any",
                                        "label": "telefono"
                                    },
                                    {
                                        "name": "interes",
                                        "type": "any",
                                        "label": "interes"
                                    },
                                    {
                                        "name": "barrios",
                                        "type": "any",
                                        "label": "barrios"
                                    },
                                    {
                                        "name": "prioridad",
                                        "type": "any",
                                        "label": "prioridad"
                                    },
                                    {
                                        "name": "contacto_preferido",
                                        "type": "any",
                                        "label": "contacto_preferido"
                                    },
                                    {
                                        "name": "horario_contacto",
                                        "type": "any",
                                        "label": "horario_contacto"
                                    },
                                    {
                                        "name": "enviado",
                                        "type": "any",
                                        "label": "enviado"
                                    },
                                    {
                                        "name": "fecha_hora",
                                        "type": "any",
                                        "label": "fecha_hora"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1230,
                                    "y": -513
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 18,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 6878591
                                            },
                                            "filter": {
                                                "name": "Lead muy Interesado",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.prioridad}}",
                                                            "b": "3",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "11": "ENVIADO"
                                                },
                                                "sheetId": "Respuestas de formulario 1",
                                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                                "spreadsheetId": "/1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                                                "includesHeaders": true,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1672,
                                                    "y": -981
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "Respuestas de formulario 1"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "Marca temporal (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "Nombre Completo (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "Correo Electrónico (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "Teléfono de Contacto (incluir código de área) (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "¿Cuál es su interés principal? (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "Columna 6 (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "¿Cómo prefiere que lo contactemos? (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "Mejor Horario para Contactarlo (K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "Enviado (L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "(M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "(N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "(O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "(P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "(Q)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values"
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "EjercicoPrueba (depradaboris19@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "Marca temporal (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "Nombre Completo (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "Correo Electrónico (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "Teléfono de Contacto (incluir código de área) (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "¿Cuál es su interés principal? (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "Columna 6 (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "¿Cómo prefiere que lo contactemos? (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "Mejor Horario para Contactarlo (K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "Enviado (L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "(M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "(N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "(O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "(P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "(Q)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 3,
                                            "module": "google-email:sendAnEmail",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 6601294
                                            },
                                            "mapper": {
                                                "to": [
                                                    "{{2.email}}"
                                                ],
                                                "subject": "Consulta Inmobiliaria",
                                                "bodyType": "collection",
                                                "contents": [
                                                    {
                                                        "text": "Hola {{2.nombre}},\r\n\r\nGracias por contactarte con nosotros 😊\r\nTe confirmamos que hemos registrado correctamente tu consulta. En breve, un asesor se comunicará con vos según la información que nos brindaste.\r\n\r\n📋 **Resumen de tu solicitud:**\r\n\r\n* **Nombre:** {{2.nombre}}\r\n* **Correo electrónico:** {{2.email}}\r\n* **Teléfono:** {{2.telefono}}\r\n* **Interés:** {{2.interes}}\r\n* **Barrios de interés:**{{2.barrios}}\r\n* **Prioridad:** {{2.prioridad}}\r\n* **Medio de contacto preferido:** {{2.contacto_preferido}}\r\n\nHora de contacto: {{2.fecha_hora}}\n\r\nSi necesitás agregar o modificar algún dato, podés responder este correo y lo actualizamos sin problema.\r\n\r\nMuchas gracias por confiar en nosotros.\r\nSaludos cordiales,\r\n\r\n**Equipo de la Inmobiliaria**\r\n",
                                                        "image": {}
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2453,
                                                    "y": -908
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Collection of contents (text, images, etc.)",
                                                            "collapsed": true
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "signature": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "emailHeaders": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "My Gmail connection (depradaboris19@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true,
                                                            "validate": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name",
                                                                    "required": true,
                                                                    "semantic": "file:name"
                                                                },
                                                                {
                                                                    "name": "data",
                                                                    "type": "buffer",
                                                                    "label": "Data",
                                                                    "required": true,
                                                                    "semantic": "file:data"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Attachment"
                                                        },
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "CC recipients"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "BCC recipients"
                                                    },
                                                    {
                                                        "name": "emailHeaders",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "key",
                                                                    "type": "text",
                                                                    "label": "Key",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Email header"
                                                        },
                                                        "type": "array",
                                                        "label": "Additional email headers"
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "text",
                                                                    "type": "text",
                                                                    "label": "Text"
                                                                },
                                                                {
                                                                    "name": "image",
                                                                    "spec": [
                                                                        {
                                                                            "name": "filename",
                                                                            "type": "filename",
                                                                            "label": "File name",
                                                                            "semantic": "file:name"
                                                                        },
                                                                        {
                                                                            "name": "data",
                                                                            "type": "buffer",
                                                                            "label": "Data",
                                                                            "semantic": "file:data"
                                                                        },
                                                                        {
                                                                            "name": "width",
                                                                            "type": "uinteger",
                                                                            "label": "Width"
                                                                        },
                                                                        {
                                                                            "name": "height",
                                                                            "type": "uinteger",
                                                                            "label": "Height"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Image"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Content"
                                                        },
                                                        "type": "array",
                                                        "label": "Body contents"
                                                    },
                                                    {
                                                        "name": "signature",
                                                        "type": "select",
                                                        "label": "Signature content"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 20,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 6878591
                                            },
                                            "filter": {
                                                "name": "Lead menos interesado",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.prioridad}}",
                                                            "b": "3",
                                                            "o": "number:lessorequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "11": "ENVIADO"
                                                },
                                                "sheetId": "Respuestas de formulario 1",
                                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                                "spreadsheetId": "/1dyF9kiOsVdNZlRs2Ay23CkXGqQ-tVPtx2-rQ0NgNgEw",
                                                "includesHeaders": true,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1641,
                                                    "y": -13
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "Respuestas de formulario 1"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "Formulario de Contacto Inmobiliario - Bahía Blanca (Respuestas)"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "Marca temporal (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "Nombre Completo (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "Correo Electrónico (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "Teléfono de Contacto (incluir código de área) (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "¿Cuál es su interés principal? (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "Columna 6 (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "¿Cómo prefiere que lo contactemos? (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "Mejor Horario para Contactarlo (K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "Enviado (L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "(M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "(N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "(O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "(P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "(Q)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values"
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "edit"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "EjercicoPrueba (depradaboris19@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "Marca temporal (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "Nombre Completo (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "Correo Electrónico (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "Teléfono de Contacto (incluir código de área) (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "¿Cuál es su interés principal? (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "Tipo de Propiedad de su interés (puede seleccionar más de uno) (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "Columna 6 (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "Presupuesto Estimado (en pesos argentinos - ARS) (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "¿Qué tan pronto planea concretar la operación? (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "¿Cómo prefiere que lo contactemos? (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "Mejor Horario para Contactarlo (K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "Enviado (L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "(M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "(N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "(O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "(P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "(Q)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 21,
                                            "module": "google-email:sendAnEmail",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 6601294
                                            },
                                            "mapper": {
                                                "to": [
                                                    "{{2.email}}"
                                                ],
                                                "subject": "Equipo Inmobiliaria",
                                                "bodyType": "collection",
                                                "contents": [
                                                    {
                                                        "text": "Hola , {{2.nombre}}\n\nGracias por contactarte con nosotros 😊\nTe confirmamos que registramos correctamente tu consulta.\n\nCuando lo consideres oportuno, un asesor podrá comunicarse con vos según los datos que nos compartiste para brindarte más información.\n\n📋 Datos registrados:\n\nNombre: {{2.nombre}}\n\nCorreo electrónico: {{2.email}}\nHora de consulta: {{2.fecha_hora}}\nTeléfono: {{2.telefono}}\n\nInterés: {{2.interes}}\n\nBarrios de interés: {{2.barrios}}\n\nMedio de contacto preferido: {{2.contacto_preferido}}\n\nSi más adelante querés avanzar, cambiar algún dato o hacer una consulta adicional, podés responder este correo sin problema.\n\nGracias por tu interés.\nSaludos cordiales,\n\nEquipo de la Inmobiliaria",
                                                        "image": {}
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2347,
                                                    "y": 69
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Collection of contents (text, images, etc.)"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "signature": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "emailHeaders": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "My Gmail connection (depradaboris19@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true,
                                                            "validate": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name",
                                                                    "required": true,
                                                                    "semantic": "file:name"
                                                                },
                                                                {
                                                                    "name": "data",
                                                                    "type": "buffer",
                                                                    "label": "Data",
                                                                    "required": true,
                                                                    "semantic": "file:data"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Attachment"
                                                        },
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "CC recipients"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "BCC recipients"
                                                    },
                                                    {
                                                        "name": "emailHeaders",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "key",
                                                                    "type": "text",
                                                                    "label": "Key",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Email header"
                                                        },
                                                        "type": "array",
                                                        "label": "Additional email headers"
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "text",
                                                                    "type": "text",
                                                                    "label": "Text"
                                                                },
                                                                {
                                                                    "name": "image",
                                                                    "spec": [
                                                                        {
                                                                            "name": "filename",
                                                                            "type": "filename",
                                                                            "label": "File name",
                                                                            "semantic": "file:name"
                                                                        },
                                                                        {
                                                                            "name": "data",
                                                                            "type": "buffer",
                                                                            "label": "Data",
                                                                            "semantic": "file:data"
                                                                        },
                                                                        {
                                                                            "name": "width",
                                                                            "type": "uinteger",
                                                                            "label": "Width"
                                                                        },
                                                                        {
                                                                            "name": "height",
                                                                            "type": "uinteger",
                                                                            "label": "Height"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Image"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Content"
                                                        },
                                                        "type": "array",
                                                        "label": "Body contents"
                                                    },
                                                    {
                                                        "name": "signature",
                                                        "type": "select",
                                                        "label": "Signature content"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}